{% extends "base.html" %}
{% block content %}

<div class="dashboard-header">
    <h2><i class="fas fa-user-circle"></i> User Dashboard</h2>
    <a href="/submit" class="primary-btn">
        <i class="fas fa-plus-circle"></i> Submit Complaint
    </a>
</div>

<!-- STATS SECTION -->
<div class="stats">

    <div class="stat-card stat1">
        <i class="fas fa-file-alt"></i>
        <h3>{{ complaints|length }}</h3>
        <p>Total Complaints</p>
    </div>

    <div class="stat-card stat2">
        <i class="fas fa-clock"></i>
        <h3>
            {{ complaints | selectattr("status","equalto","Pending") | list | length }}
        </h3>
        <p>Pending</p>
    </div>

    <div class="stat-card stat3">
        <i class="fas fa-check-circle"></i>
        <h3>
            {{ complaints | selectattr("status","equalto","Resolved") | list | length }}
        </h3>
        <p>Resolved</p>
    </div>

</div>

<!-- COMPLAINT TABLE -->
<div class="card">
    <h3><i class="fas fa-list"></i> Your Complaints</h3>

    <table>
        <tr>
            <th>Description</th>
            <th>Urgency</th>
            <th>Score</th>
            <th>Status</th>
        </tr>

        {% for c in complaints %}
        <tr>
            <td>{{ c.description }}</td>
            <td class="{{ c.urgency|lower }}">{{ c.urgency }}</td>
            <td>{{ c.priority_score }}</td>
            <td>
                {% if c.status == "Pending" %}
                    <span class="status pending">Pending</span>
                {% elif c.status == "In Progress" %}
                    <span class="status progress">In Progress</span>
                {% else %}
                    <span class="status resolved">Resolved</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}